<div class="container">
  <div class="p-4">
    <vnlp-table
      [columns]="columns"
      [dataTable]="dataSource"
      [pageOptions]="{
        currentPage: 2,
        pageSize: 10,
        totalRecord: 200
      }"
      [editable]="true"
      [deletable]="true"
      [selectable]="true"
      (onPageOptionsChange)="handleBindingDataTableChange($event)"
    ></vnlp-table>
  </div>

  <!-- vnlp-checkbox -->
  <div class="p-4 flex flex-col justify-between flex-wrap h-[120px]">
    <vnlp-checkbox
      [(checked)]="demoChecked"
      label="ASV"
      (onChange)="handleBindingDataChange($event)"
    ></vnlp-checkbox>
    <vnlp-checkbox
      label="ASV"
      [disabled]="true"
      [(checked)]="demoChecked"
    ></vnlp-checkbox>
  </div>

  <!-- vnlp-checkbox-list -->
  <div class="p-4 flex flex-col justify-between flex-wrap">
    <vnlp-checkbox-list
      [options]="demoCheckboxData"
      (onChange)="handleBindingDataChange($event)"
    ></vnlp-checkbox-list>
  </div>

  <!-- vnlp-label-tag -->
  <div class="p-4 flex justify-between flex-wrap">
    <vnlp-label-tag text="Label Text" type="gray"></vnlp-label-tag>
    <vnlp-label-tag text="Label Text" type="orange"></vnlp-label-tag>
    <vnlp-label-tag text="Label Text" type="red"></vnlp-label-tag>
    <vnlp-label-tag text="Label Text" type="blue"></vnlp-label-tag>
    <vnlp-label-tag text="Label Text" type="green"></vnlp-label-tag>
  </div>

  <!-- vnlp-switch -->
  <div class="p-4 flex flex-col justify-between flex-wrap">
    <vnlp-switch
      [(checked)]="demoSwitch"
      label="Switch 1"
      name="1"
      labelPosition="left"
      (onChange)="handleBindingDataChange($event)"
    ></vnlp-switch>
    <vnlp-switch
      [(checked)]="demoSwitch"
      label="Switch 1"
      size="md"
      name="2"
      labelPosition="left"
    ></vnlp-switch>
    <vnlp-switch
      [(checked)]="demoSwitch"
      [disabled]="true"
      label="Switch 2"
    ></vnlp-switch>
  </div>

  <!-- vnlp-textarea -->
  <div class="p-4 flex justify-between flex-wrap">
    <vnlp-textarea
      label="Normal textarea"
      name="textarea1"
      [(value)]="demoInputValue"
      maxLength="100"
      (onChange)="handleBindingDataChange($event)"
    ></vnlp-textarea>
  </div>
  <!-- vnlp-textarea -->
  <div class="p-4 flex justify-between flex-wrap">
    <vnlp-textarea
      label="Normal textarea"
      name="textarea1"
      [(value)]="demoInputValue"
      width="420"
      maxLength="100"
      [disabled]="true"
    ></vnlp-textarea>
  </div>

  <!-- vnlp-button -->
  <div class="p-4">
    <div class="flex justify-between h-[120px]">
      <div class="flex flex-col justify-between">
        <vnlp-button type="primary" title="button"></vnlp-button>
        <vnlp-button
          type="primary"
          title="button"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="primary"
          title="Create virtual agent"
          icon="music-library-2-linear"
        ></vnlp-button>
        <vnlp-button
          type="primary"
          title="Create virtual agent"
          icon="star-filled"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="primary"
          title="button"
          icon="music-library-2-linear"
          iconPosition="right"
        ></vnlp-button>
        <vnlp-button
          type="primary"
          title="button"
          icon="music-library-2-linear"
          iconPosition="right"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <br />
    </div>

    <div class="pt-2 flex justify-between h-[120px]">
      <div class="flex flex-col justify-between">
        <vnlp-button type="light" title="button"></vnlp-button>
        <vnlp-button
          type="light"
          title="button"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="light"
          title="button"
          icon="music-library-2-linear"
        ></vnlp-button>
        <vnlp-button
          type="light"
          title="button"
          icon="music-library-2-linear"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="light"
          title="button"
          icon="music-library-2-linear"
          iconPosition="right"
        ></vnlp-button>
        <vnlp-button
          type="light"
          title="button"
          icon="music-library-2-linear"
          iconPosition="right"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <br />
    </div>

    <div class="pt-2 flex justify-between h-[120px]">
      <div class="flex flex-col justify-between">
        <vnlp-button type="transparent" title="button"></vnlp-button>
        <vnlp-button
          type="transparent"
          title="button"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="transparent"
          title="button"
          icon="music-library-2-linear"
        ></vnlp-button>
        <vnlp-button
          type="transparent"
          title="button"
          icon="star-filled"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="transparent"
          title="button"
          icon="star-filled"
          iconPosition="right"
        ></vnlp-button>
        <vnlp-button
          type="transparent"
          title="button"
          icon="star-filled"
          iconPosition="right"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <br />
    </div>
  </div>

  <!-- vnlp-input-text -->
  <div class="p-4 flex justify-between flex-wrap">
    <vnlp-input-text
      label="Normal input"
      name="input1"
      [(value)]="demoInputValue"
      width="320"
      (onChange)="handleBindingDataChange($event)"
    ></vnlp-input-text>

    <vnlp-input-text
      label="Disabled Input"
      name="input2"
      [(value)]="demoInputValue"
      iconPosition="left"
      icon="grid-3-linear"
      [disabled]="true"
    ></vnlp-input-text>

    <vnlp-input-text
      label="Normal input"
      name="input1"
      [(value)]="demoInputValue"
      width="320"
      iconPosition="left"
      icon="grid-3-linear"
    ></vnlp-input-text>

    <vnlp-input-text
      label="Input with Information"
      name="Input1"
      [(value)]="demoInputValue"
      icon="grid-3-linear"
      iconPosition="right"
      informationText="Information text"
    ></vnlp-input-text>

    <vnlp-input-text
      label="Input with Information"
      name="Input2"
      [(value)]="demoInputValue"
      icon="grid-3-linear"
      iconPosition="right"
      informationText="Information text"
    ></vnlp-input-text>

    <vnlp-input-text
      label="Test"
      [(value)]="demoInputValue"
      [disabled]="true"
      icon="grid-3-linear"
      iconPosition="left"
      informationText="Information text"
    ></vnlp-input-text>
  </div>

  <!-- vnlp-create-virtual-agent -->
  <div class="p-4 flex justify-between flex-wrap gap-2">
    <vnlp-create-virtual-agent mode="create"></vnlp-create-virtual-agent>
    <vnlp-create-virtual-agent [disabled]="true"></vnlp-create-virtual-agent>
    <vnlp-create-virtual-agent
      mode="show"
      title="Dự án bất động sản"
      description="Hỗ trợ khách hàng mua bán bất động sản ở ven biển"
      labelText="AI Voicebot"
      labelType="blue"
    ></vnlp-create-virtual-agent>
    <vnlp-create-virtual-agent
      mode="show"
      title="Dự án bất động sản"
      description="Hỗ trợ khách hàng mua bán bất động sản ở ven biển"
      labelText="Chatbot"
      labelType="orange"
      type="chat"
    ></vnlp-create-virtual-agent>
    <vnlp-create-virtual-agent
      mode="show"
      title="Dự án bất động sản"
      description="Hỗ trợ khách hàng mua bán bất động sản ở ven biển"
      labelText="Chatbot"
      labelType="orange"
      [disabled]="true"
      type="chat"
    ></vnlp-create-virtual-agent>
  </div>

  <!-- vnlp-popover -->
  <div class="p-4 flex justify-between">
    <vnlp-popover
      (onOptionClick)="handleBindingDataChange($event)"
      [options]="[
        {
          label: 'option 1',
          key: 'option 1'
        },
        {
          label: 'option 2',
          key: 'option 2'
        },
        {
          label: 'option 3',
          key: 'option 3'
        }
      ]"
      position="bottom right"
    ></vnlp-popover>
  </div>

  <!-- vnlp-tickbox -->
  <div class="p-4 flex flex-col justify-between flex-wrap gap-2">
    <vnlp-tickbox
      label="option 1"
      name="tickbox"
      (onChange)="handleBindingDataChange($event)"
      [(checked)]="demoSwitch"
    ></vnlp-tickbox>
    <vnlp-tickbox label="option 2" [disabled]="true"></vnlp-tickbox>
    <vnlp-tickbox
      labelPosition="left"
      label="option 3"
      [disabled]="true"
      [(checked)]="demoSwitch"
    ></vnlp-tickbox>
  </div>

  <!-- vnlp-logo -->
  <div class="p-4 flex flex-col justify-between flex-wrap gap-2">
    <vnlp-logo></vnlp-logo>
    <vnlp-logo type="vertical"></vnlp-logo>
    <vnlp-logo type="horizontal"></vnlp-logo>
  </div>

  <div class="p-4">
    <vnlp-switcher
      [switcherList]="switcherList"
      selected="key1"
      (onChange)="handleBindingDataChange($event)"
    ></vnlp-switcher>
  </div>

  <div class="p-4 flex justify-between">
    <vnlp-radio-card
      description="Build, prototype and customize any design"
      labelPosition="left"
      [checked]="true"
    ></vnlp-radio-card>
    <vnlp-radio-card
      [disabled]="true"
      [checked]="false"
      labelPosition="left"
      type="checkbox"
    ></vnlp-radio-card>
    <vnlp-radio-card
      description="Build, prototype and customize any design"
      labelPosition="left"
      type="checkbox"
      [checked]="true"
      (onChange)="handleBindingDataChange($event)"
    ></vnlp-radio-card>
  </div>

  <div class="p-4 flex justify-between">
    <vnlp-file-uploader
      (onChange)="handleBindingDataChange($event)"
    ></vnlp-file-uploader>
  </div>
  <div class="p-4">
    <vnlp-dividers type="Dividers 2x"></vnlp-dividers>
    <p>Divider</p>
  </div>

  <div class="p-4">
    <vnlp-chip-label></vnlp-chip-label>
  </div>

  <div class="p-4">
    <vnlp-header></vnlp-header>
  </div>

  <div class="p-4">
    <vnlp-suv-nav-vertical></vnlp-suv-nav-vertical>
  </div>

  <div class="p-4">
    <vnlp-avatar
      [imgUrl]="
        'https://nld.mediacdn.vn/thumb_w/600/2015/anonymous-1447907195159.jpg'
      "
      status="online"
    ></vnlp-avatar>
  </div>

  <div class="p-4">
    <vnlp-search></vnlp-search>
  </div>

  <div class="p-4">
    <vnlp-dropdown
      [dropDownSettings]="dropdownSettings"
      [label]="'Multiselect with drop'"
      [data]="listData"
      (valueChange)="getDropdownValue($event)"
    ></vnlp-dropdown>
  </div>

  <div class="p-4">
    <vnlp-multiselect
      [multiselectWidth]="'350px'"
      [label]="'Multiselect'"
      [multiEmail]="true"
      (valueChange)="getMultiselectValue($event)"
    ></vnlp-multiselect>
  </div>

  <div class="p-4">
    <vnlp-step-bar [currentStep]="3"></vnlp-step-bar>
  </div>

  <div class="p-4">
    <vnlp-calendar [(ngModel)]="date" [options]="options"></vnlp-calendar>
  </div>

  <div style="height: 400px"></div>
</div>
